@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

.blogDisplay {
	display: grid;
	place-items: left;
	margin-top: 30px;
	margin-left: 30px;
}

.blogDisplay__title {
	font-family: Signifier;
	font-size: 48px;
	font-weight: 400;
	text-align: left;
}

.blogDisplay__thumbnail {
	object-fit: contain;
	margin-left: 5px;
	margin-bottom: 10px;
}

.blogDisplay__content {
	font-family: Asap, sans-serif;
	font-size: 18px;
	margin: 30px 0;
}

.blogDisplay__author {
	text-align: left;
	font-size: 17px;
	margin-bottom: 30px;
}

.blogDisplay > hr {
	margin-bottom: 10px;
}

.blogDisplay__comments > h3 {
	font-weight: 400;
}

.blogDisplay__commentsContainer {
	margin-top: 20px;
}

.blogDisplay__comment {
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
	margin-top: 5px;
}

.blogDisplay__comment > p {
	margin-left: 10px;
}

.blogDisplay__addComment {
	margin-top: -10px;
	margin-bottom: 20px;
}

.blogDisplay__addComment > input {
	border: 1px solid lightgray;
	outline: none;
	height: 25px;
}

.blogDisplay__addComment > button {
	display: none;
}
